/* General CSS */

body {
    background-color: rgb(26, 30, 54);
    overflow-x: hidden;
}

h1 {
    color: white;
    text-shadow: 3px 1.5px 1px #6bdde6;
    font-size: 50px;
    padding-left: 1rem;
}

button {
    color: white;
    text-shadow: .5px 1px 0px rgb(81, 170, 177);
    background-color: #a8e6eb;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
}

p {
    color: white;
    font-size: 5vh;
    text-align: center;
    text-shadow: .1vw .1vw 0vw rgb(206, 134, 152);
    padding: 25px;
    margin: 0px 7.5vw 10px 7.5vw;
} 

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1vw;
    width: 1vw;
    margin-right: 250px;
}

/* Home Page */

.home-welcome-title {
    text-shadow: .25vw .25vw 0vw #6bdde6;
    font-size: 10vh;
    padding-top: 1vw;
    text-align: center;
    opacity: 0;
    animation: fade-in .75s ease-in-out forwards;
    padding-bottom: 0;
    margin: 1vh;
}

.home-welcome-message {
    color: white;
    font-size: 5vh;
    text-align: center;
    opacity: 0;
    animation: fade-in .75s ease-in-out forwards;
    animation-delay: .75s;
    text-shadow: .1vw .1vw 0vw rgb(206, 134, 152);
    padding: 10px;
    margin: 0px 7.5vw 20px 7.5vw;
}

.slide {
    margin: 5% 0 5% 5%;
    width: 90%;
    height: 80%;
    background-color: rgb(240, 202, 208);
    position: absolute;
}

.slide-left-onscreen {
    background-color: rgb(240, 202, 208);
    animation: slide-left-onscreen 1s ease-in-out forwards;
}

.slide-left-offscreen {
    background-color: rgb(240, 202, 208);
    animation: slide-left-offscreen 1s ease-in-out forwards;
}

.slide-right-onscreen {
    background-color: rgb(240, 202, 208);
    animation: slide-right-onscreen 1s ease-in-out forwards;
}

.slide-right-offscreen {
    background-color: rgb(240, 202, 208);
    animation: slide-right-offscreen 1s ease-in-out forwards;
}

.hidden {
    display: none;
}

.slide-change-button {
    font-size: 40px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: calc(50% - 37.5px); /* Minus whatever half the width of the button is */
    margin-top: 2%;
    opacity: 0;
    animation: fade-in .75s ease-in-out forwards;
    animation-delay: 1.5s;
}

.slide-change-button:hover {
    background-color: #4fb1bf;
}

.home-slide-two-links {
    display: flex;
    justify-content: center;
}

.home-slide-two-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-slide-two-links > ul > * {
    background-color: #4fb1bf;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0px rgb(81, 170, 177);
    background-color: #a8e6eb;
    border-radius: 10px;
    border: 3px solid white;
    font-size: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.home-slide-two-links > ul > *:hover {
    background-color: #4fb1bf;
}

.borgir-cat {
    height: 25%;
    object-position: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

/* Animation */

/* Makes the text slightly fade in */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* slides from centre of the screen to the left */
@keyframes slide-left-onscreen {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

/* slides from left of the screen where not visible to centre */
@keyframes slide-left-offscreen {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
}

/* slides from the centre to the right of the screen where no longer visible */
@keyframes slide-right-onscreen {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(200%);
        display: none;
    }
}

/* slide from right of the screen where not visible to center */
@keyframes slide-right-offscreen {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

